
.body
{
    font-family: 'Segoe ui light';
}


/*  Start Header */
.header
{
    background-image: url("../images/intro-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
}

.header .overlay
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.intro-title h1
{
    color: white;
    font-size: 4.5rem;
    font-weight: 600;
    padding-top: 15rem;
}

.intro-title h3
{
    color: white;
    font-size: 2.5rem;
}

.navbar
{
    color: white;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
}
.navbar-brand 
{
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
}


.navbar-brand:hover 
{
    color: white;
    text-decoration: none;
}

.nav-link
{
    font-size: 1.1rem;
}

.nav-link:hover
{
    text-decoration: underline;
}

.fas
{
    color: white;
    z-index: 10;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
}



/*  End Header */

/* start about section */

.about
{
  background-color: #eeeeee;
}
.about-me
{
    box-shadow: 0px 0px 5px gray;
    background-color: white;
}

.title
{
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}

.about-me-right
{
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: left;
}

/* End about section */


/* start services section */


.services
{
    background-color: #eeeeee;
}
.service-box
{
    border-radius: 5px;
    box-shadow: 0px 0px 5px gray;
    background-color: white;
}


.icon
{
    font-size: 4rem;
    border: solid 10px blue;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    transition: border 0.5s ease-in;
    transition: background-color 0.5s ease-in;
    transition: color 0.2s ease-in;
}

.icon:hover
{
    border:solid 10px rgb(209, 209, 252);
    background-color: blue;
    color:white;
}

.title-a
{
    font-size: 4rem;
    font-weight: 700;
}
/* End services section */


/* start counter section */

.counter-box
{
    background-image: url("../images/counters-bg.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: auto;
    position: relative;
}

.overlay-blue
{
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #0078ff;
    opacity: 0.6;
}

.counter-box
{
    color:white ;
}

.icon-count
{
    font-size: 4rem;
    border: solid 10px #b3d6ff;
    padding: 15px;
    border-radius: 50%;
}

/* End counter section */


/* start portfolio section */

.portfolio
{
    background-color: #eeeeee;
   
}
.title-a
{
    font-size: 3rem;
}

.icon-portfolio
{
    position:absolute;
    top: 70%;
    right: 10%;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 50%;
    border: solid 2px #0077ff;
}

.portfolio-caption
{
    background-color: white;
    box-shadow: 0px 1px 2px gray;
}

.imagess
{
    overflow: hidden;
}
.img-work
{ 
transition: transform 0.7s ease-in;
}
.img-work:hover
{
  transform: scale(1.3);
}
/* End portfolio section */


/* Start Test section */

.testimonials
{
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 80vh;
}

.text-center h3
{
  color: white;

}

.text-center .descrption
{
color: white;
font-size: 1.3rem;

}

/* End Test section */

/* Start blog section */

.blog
{
    background-color:#eeeeee ;
}

.service-content h2
{
    font-size: 1.3rem;

}

.travel
{
    text-align: center;
    line-height: 6px;
    
}

.travel span
{
    background-color: #007bff;
    color: white;
    border: solid 1px #007bff;
    border-radius: 2px;
    padding: 3px;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    
}

.up
{
    border:  gray;
}
.avetar
{
    width: 35px;
    height: 35px;
}

.bottom
{
    border: gray;
    box-shadow: 0px 0px 2px gray;
}
.bottom span
{
    color: #0078ff;
}

.bottom i
{
    padding-left: 20%;
}
/* End blog section */




/* Start footer section */

.footer
{
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height: 140vh;
    z-index: -2;
    position: relative;
}

.overlay-blue-2
{
    z-index: -1;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: #0078ff;
    opacity: 0.6;
}

.footer-box
{
    box-shadow: 0px 0px 5px gray;
    background-color: white; 
    position: relative;
    top: 5rem;
}
.btn
{
    border-radius: 5rem;
    padding: .9rem 2.3rem;
    font-size: 1.2rem;
    background-color: #0078ff;
    color: #fff;
    border-color: #cde1f8;
}

.adr
{
    position: absolute;
    top:0.2rem;
    left: 0;
    font-size: 1rem;
    color:  #0078ff;
}

.phone
{
    position: absolute;
    top:2.5rem;
    left: 0;
    font-size: 1rem;
    color:  #0078ff;
}

.message
{
    position: absolute;
    top:5rem;
    left: 0;
    font-size: 1rem;
    color:  #0078ff;

}
.adress1
{
    position: absolute;
    top:50%;
    left:2rem;
}

.adress2
{
    position: absolute;
    top:2.2rem;
    left:2rem;

}
.adress3
{
    position: absolute;
    top:4.5rem;
    left:2rem;
}

.fac-icon
{
    position: absolute;
    top:8rem;
    left:0;
    font-size: 1.5rem;
    color: black;  
    border: solid 3px #0077ff;
    border-radius: 50%;
    padding: 0.7rem 1rem;
}

.twitter-icon
{
    position: absolute;
    top:8rem;
    left:5rem;
    font-size: 1.5rem;
    color: black; 
    border: solid 3px #0077ff;
    border-radius: 50%;
    padding: 0.7rem;
}

.pinter-icon
{
    position: absolute;
    top:8rem;
    left:10rem;
    font-size: 1.5rem;
    color: black; 
    border: solid 3px #0077ff;
    border-radius: 50%;
    padding: 0.7rem;
}

.copyright
{
    color: white;
    bottom:5rem;
    left:30rem;
}
.copyright i
{
    font-size: 0.8rem;
}
.copyright span
{
   
    font-weight: bold;
}
/* End foooter section */
